# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.venv/
venv/
env/
ENV/

# Byte-compiled / optimized / DLL files
*.pyc
*.pyo
*.pyd

# Distribution / packaging
build/
dist/
*.egg-info/
pip-wheel-metadata/

# Pytest
.pytest_cache/

# IDEs and editors
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# OS files
.DS_Store
Thumbs.db

# ML and data artifacts
minio-data/
mlruns/
mlflow.db
*.sqlite
*.db

# model artifacts
*.pkl
*.joblib
model.pkl

# logs
.log
logs/

# dotenv
.env
.env.local
