apiVersion: machinelearning.seldon.io/v1
kind: SeldonDeployment
metadata:
  name: simple-ml-model
  namespace: default
spec:
  predictors:
  - name: default
    replicas: 1
    graph:
      name: linear-model
      implementation: MLFLOW_SERVER
      modelUri: s3://mlflow-artifacts/1/models/m-7dbf8b977c304f6fbc9687d81e7ae6dd/artifacts
      envSecretRefName: seldon-init-container-secret
    componentSpecs:
    - spec:
        containers:
        - name: linear-model
          env:
            - name: MLFLOW_S3_ENDPOINT_URL
              value: "http://host.minikube.internal:9002"
            - name: AWS_ENDPOINT_URL
              value: "http://host.minikube.internal:9002"
          resources:
            requests:
              memory: "1Gi"
              cpu: "1000m"
            limits:
              memory: "2Gi"
              cpu: "2000m"
