apiVersion: machinelearning.seldon.io/v1
kind: SeldonDeployment
metadata:
  name: simple-linear-model
  namespace: default
spec:
  predictors:
  - name: default
    replicas: 1
    graph:
      name: classifier
      implementation: SKLEARN_SERVER
      modelUri: s3://mlflow-artifacts/simple-linear-model
      envSecretRefName: seldon-init-container-secret
    componentSpecs:
    - spec:
        containers:
        - name: classifier
          env:
            - name: AWS_ENDPOINT_URL
              value: "http://host.minikube.internal:9002"
          resources:
            requests:
              memory: "256Mi"
              cpu: "250m"
            limits:
              memory: "512Mi"
              cpu: "500m"